body {
    background-color: #fff;
}

h1 {
    text-align: center;
}

.site-header {
    background-color: transparent;
    padding: 20px 40px;
    .logo {
        color: #222;
        font-size: 40px;
        font-weight: 600;
    }
    ul.nav-bar {
        list-style-type: none;
        li {
            font-size: 20px;
            padding: 20px;
            a {
                color: #222;
            }
        }
    }
}

.restaurant-list {
    h1 {
        text-align: center;
        color: #222;
        font-size: 42px;
        font-weight: 500;
        margin-bottom: 50px;
    }
}

.create-restraurant {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    min-height: 100%;
    h1 {
        margin-bottom: 50px;
    }
    form {
        &>div {
            margin-bottom: 30px;
            input {
                width: 400px;
                height: 50px;
                border-radius: 6px;
                border: 1px solid #ddd;
                padding: 5px 20px;
            }
        }
    }
}